.header-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    color: rgb(127, 127, 129)
}

.header-text{
    align-self: center;
    padding: 10px;
    font-size: 20px;
}