.grid-tile{
    background: #957876;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px grey;
}

.tile-data-container{
    padding: 15px;
}

.grid-list{
    padding: 10px;
}

.events-holder{
    padding: 10px;
}

.event-icon-holder{
    column-rule: 4px black
}