<!-- <p class="control is-expanded">
    <input class="input" type="text" placeholder="Search locales" [(ngModel)]="searchString" autocomplete="off">
</p> -->


<div class="events-holder" *ngIf="calendarEvents">
    <mat-grid-list class="grid-list" cols="1" rowHeight="6:1" *ngFor="let event of calendarEvents">
        <mat-grid-tile class="grid-tile">
            <div class="tile-data-container">
                <div class="event-icon-holder">
                        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </div>
                <div>
                    <h4>location: {{event.location.uniqueId}}</h4>
                    <p>
                        <span>start date: {{event.start.dateTime}}</span>
                        <span>end date: ({{event.end.dateTime}})</span>
                    </p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<div *ngIf="calendarEvents && calendarEvents.length <= 0">
    <div class="notification is-warning">
        {{"You have no scheduled events yet."|translate}}
    </div>
</div>