.menu.navigation {
    padding-top: 20px;
    background: #191A2F;
    margin-left: 0px;
    height: calc(100vh - 60px);
    box-shadow: 1px 0 3px rgba(10,10,10,0.25);
    z-index: 125;
}

@media screen and (min-width: 769px) {
    .menu.navigation {
        margin-left: 0px;
        transition: margin-left .4s cubic-bezier(0.25,0.8,0.25,1);
    }
}

.menu.navigation.is-active {
    margin-left: 0px;
    transition: margin-left .4s cubic-bezier(0.25,0.8,0.25,1);
}

.menu-label {
    color: #999A9F;
    font-weight: bold;
    padding: 10px 20px 0 20px;
}

.menu-list {
    padding: 0px;
    text-decoration: none;

    li{
        list-style: none;
        padding: 10px;

        &:hover{
            color: #FFF;
            background: rgba(23, 147, 211, 0.8);;
            transition:  background-color .4s cubic-bezier(0.25,0.8,0.25,1);
        }

        &.is-active{
            background: #1793d3;
            font-weight: bold;
            color: #FFF;
        }

        &.is-active:hover{
            background: #1793d3;
            color: #FFF;
        }
    }

    a{
        text-decoration: none;
        padding: 6px 20px;
        color: #DCDCDC;
        border-radius: 0;
        font-weight: bold;
    }
}

.sidenav-overlay.is-active {
    opacity: 0.4;
    visibility: visible;
    transition:  opacity .4s cubic-bezier(0.25,0.8,0.25,1);
}