.menu.navigation {
    display: grid;
    grid-template-rows: 11.7% 88.3%;
    background: #131213;
    margin-left: 0px;
    height: calc(100vh - 60px);
    z-index: 125;

    .menu-top{
        grid-row: 1;
        color: white;
        padding: 8px;
        border-bottom: 1px solid rgb(127, 127, 129);
        text-align: center;
    }
    
}


@media screen and (min-width: 769px) {
    .menu.navigation {
        margin-left: 0px;
        transition: margin-left .4s cubic-bezier(0.25,0.8,0.25,1);
    }
}

.menu.navigation.is-active {
    margin-left: 0px;
    transition: margin-left .4s cubic-bezier(0.25,0.8,0.25,1);
}

.menu-label {
    color: #999A9F;
    font-weight: bold;
    padding: 10px 20px 0 20px;
}

.menu-list {
    padding: 0px;
    text-decoration: none;

    li{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        color: #FFF;
        outline: none;

        &.is-active{
            font-weight: bold;
            color: #1793d3 !important;
        }
    
        &:hover{
            color: #FFF;
            transition:  color .4s cubic-bezier(0.25,0.8,0.25,1);
        }
    }

    a{
        text-decoration: none;
        padding: 6px 20px;
        color: #DCDCDC;
        border-radius: 0;
        font-weight: bold;

        &.is-active{
            //background: #1793d3;
            font-weight: bold;
            color: #1793d3 !important;
        }

        

        &.is-active:hover{
            background: #1793d3;
            color: #1793d3;
        }
    }
}

.sidenav-overlay.is-active {
    opacity: 0.4;
    visibility: visible;
    transition:  opacity .4s cubic-bezier(0.25,0.8,0.25,1);
}