/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$primaryColor: #DDD7C7;
$SecondColor: #9CB995;
$ThirdColor: #A13A6A;
$FourthColor: #5492A8;
$Fith: #3E3A37;

body{
    margin: 0px;
    background-color: rgb(202, 202, 197);
}

.dashboard {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 95%;
}

.header{
    grid-row: 1;
    grid-column: 2;
    border-bottom: 1px solid rgb(127, 127, 129);
    display: grid;
    grid-template-columns: 25% 45%;
    grid-column-gap: 30%;
    align-content: center;
}

.menu-position{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 1;
}

.mat-grid-tile .mat-figure{
    position: relative !important;
}

.mat-icon{
    padding: 8px;
}